<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cnpm.com.xe">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/car2"
        android:label="A3hXe"
        android:roundIcon="@drawable/car2"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activities.LoginActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.DatXeActivity"
            android:label="DatXeActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".activities.DanhSachChuyenActivity" />
        <activity
            android:name=".activities.MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.TimXeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.ChiTietDatChuyenActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.ChiTietChuyenActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.StartActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyDefjsJS-LnT6WfBu44z6rwqzfoJoEBtfo" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity android:name=".activities.UpdateChuyenActivity" />
        <activity android:name=".activities.DatXe1Activity"></activity>
    </application>

</manifest>